.container-fluid {
    background-color: #eeeeee;
}
.container {
    position: relative;
    top:130px;
}
ul {
    list-style: none;
    display: flex;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px 1px#bdbdbd;
}

li {
    font-size:17px;
    padding: 5px 20px 5px 20px;
    color: #1b7cff;
    line-height: 1.9rem;
    cursor: pointer;
}
.modal-header {
    background-color:#1b7cff ;
}
input[type="text"] 
{
  border: 0;
  border-bottom: 2px solid lightgray;
  box-shadow: none;
  border-radius: 0px;
  width: 80%
}
input[type="url"] 
{
  border: 0;
  border-bottom: 2px solid lightgray;
  box-shadow: none;
  border-radius: 0px;
  width: 80%;
}
.modal-footer {
    display: block ruby;
    border: 0px;

}
h5 {
    padding-left: 30px;
    font-weight: 500;
}
.modal-content {
    width: 80% !important;
    height: 60% !important;
}
.form-group {
    padding-left: 20px;
}
.radio {
    margin-bottom: 5px;
    margin-top: 20px;
}
.radio label {
    font-size: 16px;
}
.btn-danger {
    background-color: white;
    color: red;
    border: 0px;
}
.btn-success {
    background-color: white;
    color: green ;
    border: 0px;
}

h4 {
    color: white;
}
.table_head {
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px 1px#bdbdbd;
    width: 100%;
    margin-left: 0px;

}
h5 {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0px 5px 0px;
}
ul {
    margin-bottom: 5px !important;
}