.container-fluid{
    padding: 0px !important;
    height: 60px;
    background-color: #0080FF;
    background-size: cover;
    position:fixed;
    z-index:4000;
    
}
p { padding: 4px;
    padding-left: 25px !important;
    width: 100%;
    background-color:whitesmoke;
    box-shadow: 2px 2px 2px #888888;
    position:fixed;
    top:60px;
    z-index:30;
    cursor:pointer;
}
.title {
    color: white;
    display: inline;
    display: flex;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    position: relative;
    width: 98%;
}
h2,h3 {
    position:relative;
    top:15px;
    
}

.title h3{
    font-weight:300;
    margin-left:10px;
    font-size:1.5rem
}
.user {
    color: white;
    font-size: 15px;
    position: absolute;
    right: 0;
    padding:5px;
    top: 20%;
    background-color: #215DD1;
    border-radius: 50%;
    cursor: pointer;
    margin-right:30px;
    height:32px;
    width:32px;
    text-align:center;
    
}
.menu {
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 6px ;
    border-radius:5px;
  }
  .menuBar {
      padding: 15px;
      cursor: pointer;
      padding-left: 20px;
  }

@media(max-width:650px) {
    .title h3 {

        font-size: 15px;
        display: block;
    }
    .title h2 {
        font-size: 22px;
    }
    .user {
        right: 20px;
    }
    .title {
        position: relative;
        left: 0px !important;

    }
}
.dropMenu{
    text-align: center;
    padding:10px;
    box-shadow: 1px 1px 1px #888888
    
}
.dropuser {
    color: white;
    font-size: 17px;
    position: relative;
    height: 50px;
    width: 50px;
    right: -62px;
    padding: 12px;
    background-color: darkslateblue;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    left: -100px;
}
.dropdown-menu.show {

    display: block;
    text-align: center;
    top:15px !important;
    transform: translate(-134px,37px);

}
.dropdown-toggle::after {
    display:none;
}
.fa {
    font-size:30px;
    position:fixed;
    right:0;
    top:93px;
    padding:10px;
    box-shadow:1px 1px 1px #888888;
    font-weight:bold;
    cursor:pointer;
    z-index:3000;
}
.material-icons {
    border-radius: 5px;
    font-size:30px;
}
h2 {
    cursor:pointer;
    font-size:1.6rem;
}
