<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 menuItem" *ngFor="let menuItem of menuItems">
            <div class="menu">
                <i class="material-icons">{{menuItem.icon}}</i>
                <h4>{{menuItem.title}}</h4>
                <p>{{menuItem.description}}</p>
            </div>
        </div>
    </div>
</div>