/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

* {
    
}
body {
    overflow-x: hidden;
    width: 100%;
}
@media(max-width:600px) {
    body {
        overflow-x : hidden;
    }
}